<h1>Listado de Productos</h1>
<table>
    <tr>
        <thead>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
        </thead>
    </tr>
    <% @products.each do |product| %>
        <tr>
            <td>
                <%= product.name %>
            </td>
            <td>
                <%= product.description %>
            </td>
            <td>
                <%= product.price %>
            </td>
            <td>
                <!-- link_to es una funcion ya incluida (en los helpers)-->
                <%= link_to "Editar", edit_product_path(product) %> 
                <!-- edit_product es el alias de la ruta de editar productos-->
                <%= link_to "Eliminar", product, method: :delete, data: { confirm: "¿Deseas eliminar este producto?" } %> 
            </td>
        </tr>
    <% end %>
</table>

<br>

<%= link_to "Nuevo Producto", new_product_path %>